
.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.wh100 {
    width: 100%;
    height: 100%;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.uppercase {
    text-transform: uppercase;
}

.drop-shadow-lg {
    --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.bg-main {
    background-color: #40BABD;
}

.rounded-full {
    border-radius: 9999px;
}

.diagram-node.selected .my-node {
    border: 1px solid black;
}

.my-node {
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

    .my-node .title {
        border-radius: 10px;
        border: 1px solid #e8e8e8;
        width: 100%;
        text-align: center;
    }

        .my-node .title .undefined-generic:hover {
            text-decoration: underline;
        }

        .my-node .title .undefined-generic {
            cursor: pointer;
        }

    .my-node .diagram-port {
        width: 20px;
        height: 20px;
        margin: -10px;
        border-radius: 50%;
        border: 1px solid #d4d4d4;
        cursor: pointer;
        position: absolute;
    }

    .my-node .row {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%
    }

        .my-node .row .mud-input-label {
            background-color: #f5f5f5
        }

        .my-node .row .col {
            align-items: center;
            display: flex;
            flex-direction: row;
        }

    .my-node .input {
        flex: 1
    }

    .my-node .output:not(.sharing) {
        flex: 1;
    }

    .my-node .output .name {
        width: 100%;
        position: relative;
        text-align: right;
    }

    .my-node .diagram-port.left {
        left: 0px;
        top: 50%;
    }

    .my-node .diagram-port.right {
        right: 0px;
        top: 50%;
    }

    .my-node .overload-icon {
        position: absolute;
        right: -25px;
        top: -20px;
        padding: 0px;
    }

g.diagram-link path {
    transition: 2s linear all;
}

g.diagram-link.executing path {
    animation: dash .1s linear infinite !important;
    stroke: red !important;
    transition: 0.1s linear all;
    stroke-width: 5px;
}

g.diagram-link path:not(.selection-helper) {
    stroke-dasharray: 5;
    animation: dash .5s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: -10;
    }
}
