[submodule "src/Blazor.Diagrams"]
	path = src/Blazor.Diagrams
	url = https://github.com/snakex64/Blazor.Diagrams.git
[submodule "src/Dis2Msil"]
	path = src/Dis2Msil
	url = https://github.com/rhotav/Dis2Msil
