
<div>
	
	@if (IsShowingNodeSelection)
	{
		<div @onclick="@(() => IsShowingNodeSelection = false)" style="background-color: var(--mud-palette-overlay-dark); width: 100%; height: 100%; position: absolute; z-index: 1">
			<NodeDev.Blazor.Components.NodeSelection PositionX="PopupX" PositionY="PopupY" GraphCanvas="this" OnNodeTypeSelected="OnNewNodeTypeSelected" />
		</div>
	}
	@if (IsShowingGenericTypeSelection)
	{
		<div @onclick="@(() => IsShowingGenericTypeSelection = false)" style="background-color: var(--mud-palette-overlay-dark); width: 100%; height: 100%; position: absolute; z-index: 1">
			<NodeDev.Blazor.Components.TypeSelector PositionX="PopupX" PositionY="PopupY" GraphCanvas="this" OnTypeSelected="OnGenericTypeSelected" />
		</div>
	}

	<div @key="Id" id="@Id" style="width:3000px; height:3000px;"></div>

</div>