@using Microsoft.AspNetCore.Components.Web
@namespace NodeDev.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/NodeDev.Blazor/dist/style.css" rel="stylesheet" />

    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>
<body style="width: 100vw; height: 100vh">
    @RenderBody()

    <style>
        .react-flow__node-custom {
            padding: 10px;
            background-color: #556677;
            color: white;
        }

    </style>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script src="_content/NodeDev.Blazor/dist/NodeDev.min.js"></script>
</body>
</html>
