@using Microsoft.AspNetCore.Components.Web
@namespace NodeDev.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="NodeDev.Blazor.Server.styles.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />

    <component type="typeof(HeadOutlet)" render-mode="Server" />
</head>
<body>
    @RenderBody()


    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>

    <script src="_content/NodeDev.Blazor/js/lib/jquery.js"></script>
    <script src="_content/NodeDev.Blazor/js/lib/jquery-ui.js"></script>
    <script src="_content/NodeDev.Blazor/js/lib/draw2d.js"></script>
    <script src="_content/NodeDev.Blazor/js/ExclusiveIntrusivePortsFeedbackPolicy.js"></script>
    <script src="_content/NodeDev.Blazor/js/GraphCanvas.js"></script>
	<script src="_content/NodeDev.Blazor/js/NodeShape.js"></script>
</body>
</html>
