.react-flow__node-NodeWithMultipleHandles {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    width: 150px;
    font-size: 12px;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #1a192b;
    background-color: white;
}

.nodeConnection_source {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
}

.nodeConnection_target {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
}
