.react-flow__node-NodeWithMultipleHandles {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    width: 150px;
    font-size: 12px;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #1a192b;
    background-color: white;
}

    .react-flow__node-NodeWithMultipleHandles.selected {
        border-radius: 5px;
        border-width: 3px;
    }

    .react-flow__node-NodeWithMultipleHandles .title {
        margin-top: -10px;
        padding-left: 7px;
        text-align: left;
        padding-top: 5px;
        font-size: 15px;
    }

.react-flow .react-flow__handle {
    height: 25px;
    width: 14px;
    border-radius: 3px;
    background-color: #784be8;
}

.react-flow .react-flow__handle-left {
    left: -10px;
}

.react-flow .react-flow__handle-right {
    right: -10px;
}

.nodeConnection_source {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
    height: 25px;
    padding-top: 5px;
}

.nodeConnection_target {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
    height: 25px;
    padding-top: 5px;
}

.react-flow__handle-valid {
    background: #55dd99 !important;
}


.generic_source_link {
    height: 20px;
    width: 20px;
    right: -27px;
    position: absolute;
    pointer-events: all;
    cursor: default;
}

.generic_target_link {
    height: 20px;
    width: 20px;
    left: -27px;
    position: absolute;
    pointer-events: all;
    cursor: default;
}

.overload_icon {
    height: 20px;
    width: 20px;
    pointer-events: all;
    cursor: default;
    position: absolute;
    top: -1px;
    right: -1px;
}

.nodeConnection_target input {
    border: 1px black solid;
    border-radius: 3px;
    width: 100%;
    margin-right: 20px;
}

.stroke_color_yellow path {
    stroke: yellow;
}

.stroke_color_purple path {
    stroke: purple;
}

.stroke_color_green path {
    stroke: green;
}

.stroke_color_gray path {
    stroke: gray;
}

.stroke_color_red path {
    stroke: red;
}

.stroke_color_blue path {
    stroke: blue;
}

.react-flow__edge path {
    stroke-width: 3px;
}
