# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build the entire solution
    uses: ./.github/workflows/workflow-build.yml
    
  tests:
    name: Run Unit Tests
    needs: build
    uses: ./.github/workflows/workflow-tests.yml

  e2e-tests:
    name: Run End To End Tests
    needs: build
    uses: ./.github/workflows/workflow-e2e-tests.yml 

  tests-windows:
    name: Run Unit Tests (Windows)
    needs: build
    uses: ./.github/workflows/workflow-tests-windows.yml

  e2e-tests-windows:
    name: Run End To End Tests (Windows)
    needs: build
    uses: ./.github/workflows/workflow-e2e-tests-windows.yml
